<li class="list-group-item list-group-item-info">
  <%= voter.full_name %>
  
  <span class="edit">
    <%= link_to edit_voter_path(voter), remote: true do %>
      <button class="btn btn-primary btn-xs">Edit</button>
    <% end %>


    <%= link_to voter, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' } do %>
      <button class="btn btn-danger btn-xs">Delete!</button>
    <% end %>
  </span>
</li>
